<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.panpf.androidxkt.test">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <permission android:name="me.panpf.androidxkt.tes.share" />

    <application>
        <activity android:name="me.panpf.androidxkt.test.widget.ToastxTestActivity" />
        <activity android:name="me.panpf.androidxkt.test.app.activity.ActivityxTestActivity" />
        <activity android:name="me.panpf.androidxkt.test.app.activity.ActivityxTestFragmentActivity" />
        <activity android:name="me.panpf.androidxkt.test.app.fragment.FragmentxTestActivity" />
        <activity android:name="me.panpf.androidxkt.test.app.fragment.FragmentxTestFragmentActivity" />
        <activity android:name="me.panpf.androidxkt.test.app.args.ArgsBinderTestActivity" />
        <activity android:name="me.panpf.androidxkt.test.app.args.ArgsBinderResTestActivity" />
        <activity android:name="me.panpf.androidxkt.test.app.DialogxTest$DialogxTestActivity" />
        <activity android:name="me.panpf.androidxkt.test.app.DialogxTest$DialogxTestFragmentActivity" />

        <service android:name=".TestService" />
        <receiver android:name=".TestReceiver" />
        <provider
            android:name=".TestProvider"
            android:authorities="me.panpf.androidxkt.test.provider" />

        <!-- 适配 7.0 应用间共享文件 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="me.panpf.androidxkt.test.file.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="meta_test_name"
            android:value="meta_test_value" />
    </application>
</manifest>
