<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.panpf.androidx.test">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <permission android:name="me.panpf.androidx.tes.share" />

    <application>
        <activity android:name=".app.ActivityxTest$TestActivity" />
        <activity android:name=".app.ActivityxTest$TestFragmentActivity" />
        <activity android:name=".app.DialogxTest$TestActivity" />
        <activity android:name=".app.DialogxTest$TestFragmentActivity" />
        <activity android:name=".app.FragmentxTest$TestActivity" />
        <activity android:name=".app.FragmentxTest$TestFragmentActivity" />
        <activity android:name=".content.PackageInfoxTest$TestActivity" />
        <activity android:name=".content.LifecycleBroadcastReceiverTest$TestFragmentActivity" />
        <activity android:name=".util.WeakAsyncTaskTest$TestActivity" />
        <activity android:name=".widget.ToastxTest$TestActivity" />
        <activity android:name=".widget.ToastxTest$TestFragmentActivity" />

        <service android:name=".TestService" />
        <receiver android:name=".TestReceiver" />
        <provider
            android:name=".TestProvider"
            android:authorities="me.panpf.androidx.test.provider" />

        <!-- 适配 7.0 应用间共享文件 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="me.panpf.androidx.test.file.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="meta_test_name"
            android:value="meta_test_value" />
    </application>
</manifest>
