<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.panpf.androidxkt.args.test">

    <application>
        <activity android:name="me.panpf.androidxkt.args.test.TestArgsActivity" />
        <activity android:name="me.panpf.androidxkt.args.test.TestBindActivity" />
    </application>
</manifest>
